.jumbotron {
    background-color: blueviolet;
    color: black;
    padding: 20px 50px;
    margin-top: 57px;
}

footer {
    color: white;
    padding: 10px 25px 0 25px;
    background-color: blueviolet;
    margin-bottom: 0px;
    margin-top: 10px;
}

footer a {
    color: white;
}

.footer-address-icon {
    padding-right: 10px;
}

.card-hotel {
    flex: 1 150px;
    padding: 2px 5px 2px 5px;
}

.btn-reserva {
    width: 100%;
    left: 0;
    bottom: 0;
}